
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


dist/


.cache/
webpack.cache/


.sass-cache/


.babelrc
babel.config.js


.vscode/


.DS_Store


.env
.env.local
.env.development
.env.production


*.log

